/** FONTES */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Iceberg&display=swap');


/** Reset HTML, CSS */
html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(18, 18, 18);
    width: 100%;
    height: 100%;
}

/** Fonte Nome */
.iceberg-regular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/** Header */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: absolute;
    position: fixed;
    z-index: 100;
}

/** Header - Image */
.img-perfil {
    width: 30px;
    height: 30px;
    border: 3px outset cornflowerblue;
    border-radius: 50%;
}

/** Header - Left Span */
.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    position: relative;
    left: 30px;
    color: cornflowerblue;
    font-size: 20px;
}

/** Header - Right Span */
.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    position: relative;
    right: 30px;
}

/** Header - Redirects */
.head-buttons {
    text-decoration: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.head-buttons:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
}


/** Section #home */
.home {
    background-color: black;
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/** Home - Picture */
.img-home {
    width: 500px;
    height: 500px;
    padding-right: 30px;
    border-radius: 55% 60% 50% 60%;
}

/** Home - Text Config */
.text-home {
    padding-left: 30px;
    font-size: 60px;
    color: white;
}

.text-highlight {
    color: cornflowerblue;
}


/** Section #sobre */
.sobre {
    background-color: white;
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

/** Sobre - UNIFIP PIC */
.img-sobre {
    width: 500px;
    height: 500px;
    padding-left: 30px;
    border-radius: 60% 50% 60% 55%;
}

/** Sobre - Text Config */
.text-sobre {
    font-size: 36px;
    text-align: right;
    padding-right: 30px;
}


/** Section #skills */
.skills {
    background-color: black;
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/** Tabela de Skills */
table {
    color: white;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid white;
}

thead {
    color: black;
    font-size: larger;
    background-color: cornflowerblue;
    border: 2px solid white;
}

th, td {
    border: 2px solid white;
    padding: 10px;
}

/** Skills - Image Config */
.img-skills {
    width: 500px;
    height: 500px;
    border-radius: 55% 60% 50% 60%;
}


/** Section #contato */
.contato {
    background-color: white;
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

/** Contato - Image Config */
.img-contato {
    width: auto;
    height: 500px;
    margin-left: 50px;
    border: 3px outset cornflowerblue;
}

.img-contato:hover {
    cursor: pointer;
    transform: scale(1.05);
    width: auto;
    height: 500px;
    border: 3px inset cornflowerblue;
}

/** Contato - Right Div */
.contato-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

/** Contato - Ícones */
.icons-contato {
    width: 60px;
}

/** Contato - Text Config */
.text-contato {
    font-size: 36px;
    text-align: right;
}

/** Contato - Buttons */
.btn1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    border-radius: 20px;
    border: 2px solid red;
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.btn2 {
    background-color: rgb(0, 119, 181);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.btn3 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/** Contato - Buttons Animation */
.btn1:hover, .btn2:hover, .btn3:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/** Contato - Buttons Position Div */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;
}


/** Footer */
footer {
    color: white;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}

.msg {
    font-weight: 600;
    font-style: italic;
}

.author {
    font-weight: 600;
}